In [1]:
import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import time
import math
from collections import Counter

%matplotlib inline

plt.style.use("ggplot")

In [6]:
connection = psycopg2.connect(dbname='geocenterdev',
                              user='jrkaspar', 
                              host='cslvm74.csc.calpoly.edu', 
                              password='Jrk1jrk2jrk3')

cur = connection.cursor()
 

    
query = """
SELECT
A.osm_id,
A.timestamp,
A.type,
A.author_name,
ST_AsText(A.location),
B.institution
FROM public.element as A, public.user as B
WHERE A.author_name = B.name
"""
cur.execute(query)
queried_data = cur.fetchall()

ProgrammingError: function st_x(geography) does not exist
LINE 7: ST_X(A.location),
        ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.
SSL connection has been closed unexpectedly

In [4]:
version = pd.DataFrame(queried_data, columns = ["Key","time","type","user","location","school"])

In [7]:
version.to_csv("heatMap.csv")

In [5]:
version.head()

,Key,time,type,user,location,school
0,4785789618,2017-04-10 08:34:45,node,siima,POINT(27.1718238 -18.2701057),makerere university
1,4912408038,2017-06-13 09:35:20,node,danielzyt,POINT(29.8878453 -18.3335435),busitema university
2,4091028155,2016-04-01 21:55:08,node,aboges26,POINT(17.7067525 -10.7395065),texas tech university
3,4785844347,2017-04-10 09:07:38,node,siima,POINT(27.1765869 -18.2657219),makerere university
4,4091028275,2016-04-01 21:55:10,node,aboges26,POINT(17.689751 -10.7428881),texas tech university